footer{
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p{
    color: black;
    font-size: 12px;
    font-family: 'Righteous', cursive;
}

ion-icon{
    margin-bottom: 15px;
    font-size: 17px;
}