.launch{
    font-family: 'Righteous', cursive;
    height: 100vh;
}

p{
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.launch button{
    width: 141px;
    height: 31px;
    border-radius: 5px;
    background: white;
    font-size: 15px;
    color:#FB6B6B;
    border: 1px solid #D70900;
    margin-top: 82px;
}

