.flashcard{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 15px;
    font-family: 'Righteous', cursive;
    box-shadow: 0px 4px 5px 0px #00000026;
    border-radius: 5px;
}

ion-icon{
    font-size: x-large;
}